@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* Media queries LOGIN & REGISTER*/

@media only screen and (max-width: 600px) {

  *,
  ::after,
  ::before {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }

  .containter-main-footer-signup {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .image-aside {
    width: 37.5rem;
  }

  .image-aside-signup {
    width: 100vh;
  }

  .main-header-signup {
    padding: 50px;
    display: flex;
  }

  .footer-desc {
    margin: 10px 0;
  }

  .copy-right {
    margin: 10px 0;
  }

  .header-brand-signup {
    padding-top: 0.625rem;
    margin-left: 0.625rem;
    font-size: 0.938rem;
    flex: 5;
    font-weight: bold;
  }

  .header-title-signup {
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    flex: 2;
  }

  .main-form-signup {
    padding: 5.625rem;
    display: flex;
    flex-direction: column;
  }

  .label-signup {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .input-signup::placeholder {
    font-size: 20px;
    color: #9F9F9F;
    font-weight: 400;
  }

  .input-signup:focus {
    border: none;
  }

  .input-signup {
    width: 100%;
    height: 3.438rem;
    border-radius: 15px;
    border: none;
    padding-left: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
  }

  .button-signup {
    width: 100%;
    height: 3.438rem;
    border-radius: 20px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
  }

  .normal {
    background-color: #FFBA33;
    color: #6A4029;
    font-weight: 700;
    font-size: 20px;
  }

  .google {
    color: #000000;
    box-shadow: 5px 5px 5px #b3b2b28a;
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 10px;
  }

  .google-button {
    position: relative;
    top: 5px;
    right: 10px;
  }

  .login {
    background-color: #6A4029;
    font-weight: 700;
    font-size: 17px;
    color: white;
  }

  .has-account {
    display: flex;
  }

  .underline {
    flex: 1;
    height: 1px;
    border-bottom: 2px solid #9F9F9F;
    position: relative;
    top: 53px;
  }

  .already-account {
    margin: 45px 0;
    text-align: center;
    color: #9F9F9F;
    font-weight: 700;
    padding: 0 15px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 50px;
    height: 510px;
    background-color: #f8f8f825;
    margin-top: 17px;
    color: white;
  }

  .footer-content-signup {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 50px;
    height: 517px;
    background-color: #f8f8f825;
  }

  .footer-title-signup {
    display: flex;
  }

  .product-info-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .footer-info {
    margin-top: 10px;
  }

  .title-info-footer {
    margin: 10px 0;
    font-weight: 700;
  }

}

@media only screen and (min-width: 1200px) {

  .info-coffe-shop {
    margin-top: -200px;
    border: none;
  }

  .column-info-second {
    border-left: 1px solid #9F9F9F;
    border-right: 1px solid #9F9F9F;
  }

  .container-signup {
    display: flex;
    width: 100%;
  }

  .image-aside {
    width: 660px;
    height: 1625px;
  }


  .main-header-signup {
    padding: 50px;
    display: flex;
  }

  .header-brand-signup {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    flex: 5;
    font-weight: bold;
  }

  .header-title-signup {
    font-weight: bold;
    font-size: 30px;
    color: #6A4029;
    flex: 2
  }

  .main-form-signup {
    padding: 90px;
    display: flex;
    flex-direction: column;
  }

  .label-signup {
    font-size: 20px;
    color: #4F5665;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .input-signup::placeholder {
    font-size: 20px;
    color: #9F9F9F;
    font-weight: 400;
  }

  .input-signup {
    width: 505px;
    height: 75px;
    border-radius: 15px;
    border: 1px solid #4F5665;
    padding-left: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .button-signup {
    width: 505px;
    height: 75px;
    border-radius: 20px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
  }

  .normal {
    background-color: #FFBA33;
    color: #6A4029;
    font-weight: 700;
    font-size: 20px;
  }

  .google {
    color: #000000;
    box-shadow: 5px 10px 18px #b3b2b2;
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 10px;
  }

  .google-button {
    position: relative;
    top: 5px;
    right: 10px;
  }

  .login {
    background-color: #6A4029;
    font-weight: 700;
    font-size: 17px;
    color: white;
  }

  .has-account {
    display: flex;
  }

  .underline {
    flex: 1;
    height: 1px;
    border-bottom: 2px solid #9F9F9F;
    position: relative;
    top: 53px;
  }

  .already-account {
    margin: 45px 0;
    text-align: center;
    color: #9F9F9F;
    font-weight: 700;
    padding: 0 15px;
  }

  .footer-content {
    padding: 50px;
    display: flex;
    height: 450px;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
    margin-top: 60px;
  }

  .footer-content-signup {
    padding: 50px;
    display: flex;
    height: 450px;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
    margin-top: 60px;
  }

  .footer-title-signup {
    display: flex;
  }

  .footer-title {
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
  }

  .footer-side {
    flex: 2;
  }

  .footer-title-signup {
    margin-bottom: 15px;
  }

  .footer-desc {
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 16px;
  }

  .copy-right {
    margin-top: 10px;
    color: #AFB5C0;
    font-size: 16px;
  }

  .footer-info {
    flex: 2;
  }

  .title-info-footer {
    margin: 20px 0;
    font-weight: 700;
  }

  .info-detail {
    color: #4F5665
  }

  .product-info-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .forgot-password {
    text-decoration: underline;
    color: #6A4029;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .edit-column-first {
    /* border-bottom: 10px solid #6A4029;
    border-radius: 15px;
    margin-bottom: 10px; */
    height: 418px;
  }

  .second-row-edit {
    margin-top: 100px;
  }
}

/* Home Bootstrap */

.btn-register {
  padding: 7px 30px;
}

.navbar-brand .brand {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

.header-content {
  background-image: url(./img/header-home.png);
  width: 100%;
  height: 645px;
}

.title-header {
  font-size: 50px;
  margin-top: 100px;
}

.desc-header {
  font-size: 20px;
  margin: 30px 0;
}

.btn-started {
  padding: 10px 80px;
  border-radius: 10px;
}

.favorite-product {
  background-color: #F8F8F8;
  background-image: linear-gradient(#F8F8F8, white);
}

.btn-select {
  color: #6A4029;
  border-radius: 20px;
  width: 100%;
}

.title-map {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
}

.desc-map {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.map-image {
  width: 100%;
}

.image-sponsored {
  width: 200px;
  height: 60px;
}

.img-avatar {
  width: 50px;
  height: 50px;
}

.testi-profile {
  display: flex;
  justify-content: space-between;
}

.card-img-top {
  width: 50%;
  height: inherit;
}

.logo-sosmed {
  width: 10%;
  height: 10%;
}

.logo-brand {
  width: 15%;
  height: 15%;
}

.card-testi {
  width: 100%;
  border-radius: 15px;
}

.card-text {
  font-size: 16px;
}

.prev-img {
  width: 80px;
}

/* .slide-card {
  border: 1px solid red;
} */

.btn-promo {
  border-radius: 10px;
  padding: 10px 40px;
  color: #6A4029;
}

.footer-home {
  margin-top: -150px;
  padding: 180px 80px 80px;
  width: inherit;
  height: 450px;
  background-color: #F8F8F8;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(#F8F8F8, white);
}

.footer-profile {
  padding: 180px 80px 80px;
  width: inherit;
  background-color: #F8F8F8;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(#F8F8F8, white);
}

.footer-products {
  padding: 80px 80px 80px;
  width: inherit;
  height: 450px;
  background-color: #F8F8F8;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(#F8F8F8, white);
}

.list-footer-product,
.list-footer-product>a {
  list-style: none;
  text-decoration: none;
}

.list-footer-product .list-title-footer {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.list-footer-product li {
  font-size: 16px;
  font-weight: 400;
  color: #4F5665;
  line-height: 30px;
}

/* PROFILE BOOTSTRAP */

.contacts-logo-edit {
  display: flex;
  justify-content: space-between;
}

.main-content {
  background-image: url(/assets/img/background.webp);
  width: 100%;
  height: 1300px;
}

.footer-profile {
  padding: 80px;
  width: inherit;
  background-color: #F8F8F8;
  /* For browsers that do not support gradients */
  /* background-image: linear-gradient(#F8F8F8, white); */
}

/* .header-1 {
  margin-top: 70px;
} */

.edit-column-first {
  border-bottom: 10px solid #6A4029;
  border-radius: 15px;
  margin-bottom: 10px;
}

.logo-circle-first,
.logo-circle-second {
  width: 30px;
  height: 28px;
  background-color: #6A4029;
}

.logo-circle-first {
  position: relative;
  bottom: 50px;
  left: 70px;
}

.logo-circle-second {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.form-control-profile {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.btn-choco {
  background-color: #6A4029;
  color: white;
  font-weight: 700;
}


.btn-light,
.btn-warning {
  color: #6A4029;
  font-weight: 700;
}

.email-profile,
.delivery-info {
  color: #4F5665;
}

.btn-footer {
  /* width: 330px; */
  height: 60px;
  border: none;
  border-radius: 15px;
  padding: 15px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #6A4029;
}

/* Prdoucts */

/* .main-products {
  height: 134px;
  width: 100%;
  background-color: white;
} */

.menu-products {
  text-decoration: none;
  color: #9F9F9F;
}

.menu-products:hover {
  color: #6A4029;
  text-decoration: underline;
}

.card-text-coupon {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.card-text-coupon-exp {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}

.line-coupon {
  width: 100%;
}

.card-body-1 {
  display: flex;
}

.card-text-1 {
  font-size: 14px;
}

.text-bg-green {
  background-color: #88B788;
}

.text-bg-cream {
  background-color: #F5C361;
}

.text-bg-choco {
  background-color: #C59378;
}

.btn-choco-2 {
  background-color: #6A4029;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-left: 0px;
  width: 100%;
  padding: 10px 0;
}

.navbar-products {
  padding-bottom: 50px;
}

.column-1 {
  border-bottom: 1px solid #9F9F9F;
  border-right: 1px solid #9F9F9F;
  border-top: 1px solid #9F9F9F;
}

.column-2 {
  border-bottom: 1px solid #9F9F9F;
  /* border-right: 1px solid #9F9F9F; */
  border-top: 1px solid #9F9F9F;
}

.first-column-products {
  color: #6A4029;
}

.products-list {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 2fr 2fr 2fr 2fr;

}

.card-products>img {
  width: 100px;
}

.card-products {
  border-radius: 25px;
  width: 130px;
  box-shadow: 5px 15px 10px 5px rgba(0, 0, 0, 0.062);
  height: 80%;
}

.team-work-pict {
  width: 100%;
}